/* CSS Document */
@import "./variables.scss";
@import "./mixins.scss";
@import "./mediaQuery.scss";


$zp:0px;
$bgAisle:"../_img/flags.jpg";
$bgVertical: top;
$bgHorizontal: center;
$bgRepeat: no-repeat;
$bgSize: cover;
$bgBlue: rgba(20, 120, 200, .99);
/* vender prefix */
$venderList: "-webkit-", "-moz-", "-ms-", "-o-", "";

body.basictorso
{
	@include extendFlex($zp);
	@include fontSmooth();
}

div[interval="crsInterval"] {
	width: 738px;
    margin: 0 auto;
    div.carousel-inner {
    	img {
    		margin: auto;
    		height: 460px;
    	}
    }
}

ul.lightbox-gallery {
	list-style: none;
	display: inline-flex;
	li {
		margin-right: 1vw;
		img {
			width: 10vw;
			height: 138px;
		}
	}
}

div[uib-modal-window="modal-window"] {
	div.modal-content {
		background-color: transparent;
	}
}